DOMAIN=fyxi.ru
PORT=5010
FRONTEND_PORT=5011
NODE_ENV=production
DATABASE_URL="postgresql://user:password@localhost:5432/fyxi?schema=public"
JWT_SECRET=your_jwt_secret_here
YOOKASSA_SHOP_ID=your_yookassa_shop_id_here
YOOKASSA_SECRET_KEY=your_yookassa_secret_key_here
TELEGRAM_BOT_TOKEN="your_telegram_bot_token"
TELEGRAM_ADMIN_CHAT_ID=""
GMAIL_USER="your_email@gmail.com"
GMAIL_APP_PASSWORD="your_app_password"
NUXT_PUBLIC_API_URL="https://fyxi.ru/api"
